h1 {
    text-align: center;
    padding: 10px;
    font-size: 80px;
    font-weight: bold;
    background-color: rgb(193, 220, 230);
}

body {
    background-color: lightskyblue;
    width: 960px;
    margin: auto;
}

img {
    /* border: 1px solid #ddd; */
    border-radius: 50%;
    margin-top: 100px;
    padding: 5px;
    width: 150px;
    float: left;
}

ol {
    list-style: upper-alpha;
    margin: auto;
    list-style-position: inside;
}